<div class="booyah-box col-xs-10 col-xs-offset-1">
  <div class="col-xs-4">
    <%= image_tag 'user.png' %>
  </div>
  
  <div class="col-xs-8">
    <h4 class="useremail"><%= @user.email %></h4>
    <h4>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h4>
    <h4><%= @user.comments.count %> total comments</h4>
    <h4><%= @user.comments.where(rating: '5_stars').count %> total 5 star reviews</h4>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<br />
<h2 class="text-center">My Comments</h2>
<br />
<% @user.comments.each do |comment| %>
  <div class="booyah-box col-xs-8 col-xs-offset-2">
   <h2 class="text-center"><%= link_to comment.place.name, place_path(comment.place) %></h2>
    <blockquote>
      <% if comment.humanized_rating.present? %>
        <b><%= comment.humanized_rating %></b> -
      <% end %>  
      <%= comment.message %>
    </blockquote>
  </div>
<% end %>