<!-- Carousel -->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'slider1.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
       Hawaii 
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slider2.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
      Arizona
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slider3.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
      Ireland 
      </div>
    </div> 
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="infobar">
  <br />
  <h3 class="welcome">Welcome to The Links Report!</h3>
    <hr />
      <p class="joinhere">
      <b>The best place to get a golf course review.  Have a review? <br />Please join today to contribute!</b>
      </p>
    <hr />
  <h3 class="text-centered welcome">Recent User Reviews</h3>
</div>

<%= will_paginate @places, previous_label: h("<"), next_label: h(">") %>


<% @places.each do |place| %>
<div class="booyah-box col-xs-10 col-xs-offset-1">
    <h3 class="titles"><%= link_to place.name, place_path(place) %></h3><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />
  
          <% if place.photos.present? %>
          <%= image_tag place.photos.order(:id).last.picture, class: 'img-responsive' %>
          <% end %>

      <% if place.comments.present? %>
      <div class="booyah-box col-xs-12">
        <blockquote>
            <% if place.comments.last.humanized_rating.present? %>
              <b><%= place.comments.last.humanized_rating %></b> -
            <% end %>  
          <%= place.comments.last.message %>
      <small><%= place.comments.last.user.email %></small>
    </blockquote>
  </div>
<% end %> 
</div>

<% end %>

<div class="page">
  <%= will_paginate @places, previous_label: h("<"), next_label: h(">") %>
</div>



